.leafybkg {
    background-image: url('https://previews.123rf.com/images/chfonk/chfonk1705/chfonk170500022/77957861-tropical-leaves-seamless-pattern-of-monstera-philodendron-and-palm-leaves-in-light-green-yellow-colo.jpg');
    border-bottom: hotpink solid 1px;
}

body {
    background-color: #ffffff;
}

.leafybkg1 {
    background-color: pink;
    padding: 10px 10px 10px 10px;
    border: hotpink solid 1px;
    text-shadow: 2px 2px #af0049;
    color: white;
}

textarea { border: none; 
background-color: pink !important;
outline:0px none transparent;}

.text {
    text-shadow: none;
}

.currentTime {
    background-color: rgb(105, 255, 155);
    border: rgb(100, 0, 30) 1px dotted !important;
}

.pastTime {
    background-color: #fffacd;
    border-bottom: none;
}

.futureTime {
    background-color: rgb(182, 255, 163);
    border-top: none;
}